@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/open_sans_regular.ttf);
}

@font-face {
	font-family: 'Open Sans Bold';
	src: url(../fonts/open_sans_bold.ttf);
}

@font-face {
  font-family: 'Open Sans Light';
  src: url(../fonts/open_sans_light.ttf);
}

@font-face {
	font-family: 'Open Sans Condensed';
	src: url(../fonts/open_sans_cond_bold.ttf);
}

body {
  font-family: 'Open Sans';
  margin-top: 100px;
}

body#about {
  margin: 0;
}

section {
  overflow: hidden;
}

a:focus {
  outline: 0;
}

h1 {
  font-size: 3vw;
}

.valign-wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.valign {
	display: block;
}

header {
  font-family: 'Open Sans Bold';
  background-color: #C92E2E;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

header a {
  color: #fff;
  position: relative;
}

header .menu {
  display: inline-block;
  float: none;
  margin: auto;
}

header .menu a {
  padding: 8px 15px;
  margin: 0 5px;
}

header .menu li {
  padding: 32px 0;
}

header a:hover,
header a:focus {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}

header a.active:after {
  content: '';
  background-color: #C92E2E;
  position: absolute;
  bottom: -50px;
  width: 100%;
  height: 10px;
  left: 0;
}

header.colored {
  background-color: #C92E2E;
  box-shadow: 0 1px 5px rgba(169, 27, 32, 0.69);
}

header.transparent {
  background-color: transparent;
}

header .logo {
  display: block;
  margin: 25px 30px;
  position: absolute;
  left: 0;
  top: 0;
}

.user-menu {
  right: 30px;
  position: absolute;
  top: 0;
}

.user-menu.navbar-nav>li>a {
	display: block;
	line-height: 99px;
  padding: 0 15px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}

.user-menu.navbar-nav>li>a:hover,
header .menu a:hover {
  background-color: rgba(169, 27, 32, 0.69);
}

.user-menu.navbar-nav>li>a img {
	margin-left: 10px;
  border:2px solid #8ECA61;
  height: 64px;
  width: 64px;
  -webkit-border-radius: 64px 64px 64px 64px;
  border-radius: 64px 64px 64px 64px;
}

header .navbar {
  margin: 0;
  border: none;
}

.gris_claro {
  position: relative;
  background-color: #F1F2F5;
  padding: 15px;
  margin: 0 -15px;
}

.gris_claro:after {
  content: '';
  background-color: #F1F2F5;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: -100%;
  left: 0;
}

.gris_oscuro {
  position: relative;
  background-color: #EAEDF3;
  padding: 10px;
  padding-top: 20px;
  margin: 0 -15px;
}

.gris_oscuro:after {
  content: '';
  background-color: #EAEDF3;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: -100%;
  left: 0;
}

.size_method {
  background-color: white;
  height: 131px;
  width: 100%;
  font-size: 15px;
  color: #787A7C;
  padding-right: 20px;
}

.image_method {
  float: left;
  margin-right: 15px;
}

.info_method {
  padding-top: 10px;
}

.margin_top {
  margin-top: 15px;
}

.texto_categoria {
  text-align: justify;
  font-size: 12px;
}

.circle {
  position: relative;
  background-color: #000;
  height: 100%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.circle .height {
  padding-top: 100%;
}

.bakery {
  background-color: #82CB2B;
}

.pastry {
  background-color: #FF7026;
}

.gourmet {
  background-color: #FFBC32;
}

.azul {
  background-color: #00B4E4;
}

h5 {
  font-size: 17px; 
}

hr {
  background-color: #CED2DC;
  height: 1px;
}

.fondo_e_aq {
  background-color: #C92E2E;
  height: 150px;
  color: #fff;
}

.text_e_aq{
  margin-top: 10%;
  font-size: 18px;
  float: left;
}

.tras_text_e_aq {
  color: rgba(255, 255, 255, 0.5);
}

section a {
  color: #fff;
  text-decoration: none;
}

section a:hover {
  color: #fff;
  text-decoration: none;
}

.user-section a {
  display: block;
  line-height: 95px;
  font-size: 18px;
  margin-top: 25px;
  color: white;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;

}

.user-section a:hover {
  background-color: rgba(169, 27, 32, 0.69);
}

.view a {
  color: #6C6C6C;
  margin-top: 5px;
  font-size: 15px;
}

.view a:hover {
  color: #C92E2E;
}

footer {
  background-color: #262626;
  color: #fff;
  padding-top: 50px;
  color: #7D7D7D;
}

footer h4 {
  color: #fff;
}

footer a {
  color: #7D7D7D;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}

.margin_map {
  padding-bottom: 20px;
  position: relative;
  z-index: 10;
}

.email {
  background-color: #fff;
  color: #ABABAB;
  padding: 10px;
  width: 220px;
  margin-top: 10px;
  float: left;
  margin-bottom: 10px;
}

.submit-box {
  margin: 10px 0;
}

.submit-box .form-group {
  width: 100%;
}

.submit-box .input-group {
  width: 100%;
}

.submit-box .input-group .form-control:first-child {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  font-size: 18px;
  color: #ABABAB;

}

.submit-box .form-control {
  border: none;
  height: 44px;
}

.submit.input-group-addon:last-child {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.submit {
  background-color: #C92E2E;
  color: #fff;
  padding: 0;
  margin: 0;
  border: none;
}

.submit button {
  background-color: transparent;
  border: none;
  display: block;
  width: 100%;
  padding: 15px;
  font-weight: bold;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.submit:hover {
  background-color: rgba(169, 27, 32, 0.69);
  text-decoration: none;
}

.size_redes {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  color: #fff;
}

.logo_redes {
  background-color: rgba(36, 36, 36, 0.4);
  float: left;
  line-height: 45px;
  width: 45px;
  height: 45px;
  text-align: center;
}

.like {
  float: right;
  margin: 11px;
  padding: 2px;
  line-height: 20px;
  font-size: 20px;
  background-color: rgba(36, 36, 36, 0.4);
}

.facebook
{
  background-color: #23599C; 
}

.twitter {
  background-color: #00AEF1;
}

.google {
  background-color: #FE4A35;
}

.copy {
  margin-top: 50px;
  background-color: rgba(36, 36, 36, 0.69);
  color: #383838;
  padding: 20px 0;
}

.copy a:hover span {
  color: #fff;
}

.copy span {
  color: #8C8A8A;
  font-size: 18px;
  font-weight: bold;
}

.text_copy{
  margin-left: 40px;
}

ul#methods {
  -webkit-padding-start: 0;
}

ul#methods li {
  list-style: none;
  margin-top: 15px;
}

ul#methods li:first-child {
  margin-top: 0;
}

input:focus,
button:focus,
.form-control:focus {
  outline: 0;
  box-shadow: inset 0 0 0 transparent;
}

a:focus {
  text-decoration: none;
}

/*css about*/

section.red {
  position: relative;
  background-image: url(../images/home_background.png);
  background-size: cover;
}

section.red .background {
  background-color: rgba(195, 20, 26, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

section.red > img {
  width: 100%;
}

section.red .video_info {
  position: absolute;
  bottom: 0;
  z-index: 2;
  color: #fff;
  width: 50%;
  padding: 0 150px 50px 0;
}

section.red .video_info h1 {
  font-family: 'Open Sans Condensed';
}

section.red .video_info h4 {
  line-height: 1.5;
}

.btn-white {
  background-color: #fff;
  padding: 10px 20px;
  color: #292929;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 10px 0;
  display: inline-block;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.btn-white:hover,
.btn-white:focus {
  background-color: rgba(169, 27, 32, 0.69);
  color: #fff;
  text-decoration: none;
}

section.red .video_info .btn-white {
  margin-right: 10px;
}

.play {
  position: absolute;
  z-index: 5;
  width: 75px;
  height: 75px;
  text-align: center;
  padding: 30px;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -40px;
  background: url(../images/play.png) no-repeat;
  background-position: 0 0;
  display: block;
}

.play:hover {
  background-position: 0 100%;
}

.play img {
  width: 55px;
  margin: 5px 0px 0px 20px;
}

body#about header a.active:after {
  display: none;
}

body#about header a.active {
  background-color: #fff;
  color: #CB2729;
  display: block;
  padding: 8px 15px;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 12px;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

body#about header a.active:hover{
  background-color: rgba(169, 27, 32, 0.69);
  color: #fff;
}

section.black {
  position: relative;
  background-size: cover;
  background-image: url(../images/black_section_background.png);
  background-color: #000;
  color: #fff;
  padding: 30px 0;
}

section.black h1 {
  margin-top: 0;
}

section.black h4 {
  margin-bottom: 0;
}

section.black .background {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

section.black > img {
  width: 100%;
}

section.black .content {
  position: absolute;
  z-index: 2;
  top: 0;
  color: #fff;
  width: 100%;
  padding: 3vw 0;
}

section.black .content h1 {
  font-family: 'Open Sans Condensed';
  margin-top: 0;
}

section.white {
  position: relative;
  background-color: #fff;
  color: #2d2d2d;
  padding: 20px 0;
}

section.white .info_box {
  position: relative;
  padding: 10px;
  margin-bottom: 50px;
}

section.white .info_box .icon {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 90px;
}

section.white .info_box .icon img {
  max-width: 100%;
}

section.white .info_box .info {
  position: relative;
  padding: 0 10px 30px;
  padding-left: 110px;
}

section.white .info_box .info p {
  overflow: hidden;
  line-clamp: 3;
  -moz-line-clamp: 3;
  -webkit-line-clamp: 3;
  display: box;
  display: -moz-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;  
}

section.white .info_box .info .read_more {
  position: absolute;
  left: 110px;
  bottom: 0;
  display: block;
  color: #C92E2E;;
}

.red_text {
  color: #F23713;
}

#carousel_banner .item > img {
  width: 100%;
}

#carousel_banner .item .background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
}

#carousel_banner .item .play {
  left: 20%;
  margin-top: -37px;
}

#carousel_banner .item .container-fluid {
  width: 100%;
}

#carousel_banner .item .content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  color: #fff;
}

#carousel_banner .item .content h1 {
  font-family: 'Open Sans Condensed';
}

#carousel_banner .carousel-indicators {
  right: 0;
  left: inherit;
  width: auto;
  padding: 0 50px;
}

#carousel_banner .carousel-indicators li {
  background-color: #fff;
  margin: 1px 10px;
}

#carousel_banner .carousel-indicators .active {
  background-color: #F23713;
  border-color: #F23713;
  margin: 1px 10px;
}

#carousel_courses {
  margin-top: 30px;
  padding-bottom: 50px;
}

#carousel_courses .carousel-indicators li {
  background-color: #ccc;
  border-color: #ccc;
  margin: 1px 10px;
}

#carousel_courses .carousel-indicators .active {
  background-color: #C6141A;
  border-color: #C6141A;
  margin: 1px 10px;
}

#carousel_courses .item .gray_box {
  width: 100%;
  min-height: 150px;
  background-color: #ccc;
  margin-bottom: 20px;
}


section.white h1 {
  font-family: 'Open Sans Bold';
  margin-bottom: 0;
}


section.white h3 {
  margin-top: 0;
  font-family: 'Open Sans Light';
}

section.gray {
  position: relative;
  background-color: #2A2A2A;
  padding-top: 40px;
  color: #fff;
}

section.gray h1 {
  font-family: 'Open Sans Bold';
}

section.gray h4 {
  line-height: 1.5;
}

.btn-green {
  background-color: #00B748;
  color: #fff;
  display: block;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #0B883C;
  color: #fff;
  text-decoration: none;
}

.max-width {
  max-width: 100%;
}

section.plans {
  background-color: #D33F3F;
  padding: 40px 0;
  color: #fff;
}

section.plans .title {
  font-family: 'Open Sans Condensed';
  margin-bottom: 30px;
  text-align: center;
  margin-top: 0;
}

.conten_plans {
  color: #9F9F9F;
  background-color: #FFF;
  width: 100%;
  padding: 20px 30px 140px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: relative;
  min-height: 400px;
  margin-bottom: 25px;
}

.conten_plans h1 {
  color: #3D3D3D;
  font-size: 26px;
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Open Sans Condensed';
}

.conten_plans .action {
  position: absolute;
  width: 100%;
  height: 90px;
  bottom: 30px;
  left: 0;
  padding: 20px 30px;
}

.conten_plans h1.periodicity {
  color: #62CE92;
}

.conten_plans h1.periodicity small {
  color: #62CE92;
}

ul.plan_feats {
  padding-start: 20px;
  -moz-padding-start: 20px;
  -webkit-padding-start: 20px;
}

ul.plan_feats li {
  list-style-image: url('../images/check_icon.png');
  margin-bottom: 10px;
}

ul.plan_feats li span {
  vertical-align: top;
  line-height: 18px;
}

.btn-plans {
  background-color: #62CE92;
  color: #fff;
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 20px;
  font-family: 'Open Sans Condensed';
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.btn-plans:hover,
.btn-plans:focus {
  background-color: #4AA171;
  color: #fff;
  text-decoration: none;
}

.img-full {
  width: 100%;
}

.videomini{
  width: 100%;
  background-color: #ccc;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.videomini .mascara {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.75);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.videomini:hover .mascara { 
  opacity: 1;
  display: block;

}

.videomini img {
 display: block;
 position: relative;
}

.videomini .center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}

.playmini {
  background: url(../images/boton.png) no-repeat;
  background-position: 0 0;
  height: 30px;
  width: 30px;
  display: block;
}

.playmini:hover {
  background-position: 0 100%;
}

.course_title {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  height: 30px;
  font-family: 'Open Sans Light';
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  background-color: rgba(0,0,0,0.75);
}

.videomini:hover .course_title {
  bottom: 0;
}

.video {
  vertical-align: top;
  width: 100%;
}

@media screen and (max-width: 1080px)  {
  header .menu a {
    padding: 8px 5px;
  }
  header .logo {
    margin: 25px 10px;
  }
  .user-menu {
    right: 10px;
  }
  section.gray h4 {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 850px)  {
  .user-menu {
    right: 0;
  }
  .user-menu span {
    display: none;
  }
  header.transparent {
    background-color: #C92E2E;
  }
  body#about {
    padding-top: 100px;
  }
  section.red .video_info {
    padding: 0 0 50px 0;
  }
  .play {
    left: 75%;
  }
}

@media screen and (max-width: 768px)  {
  section.gray h4 {
    font-size: 14px;
  }
  .user-menu {
    right: inherit;
    left: 0;
    top: 0;
    margin: 0;
    position: fixed;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  .user-menu span {
    display: inline-block;
  }
  header .navbar-header {
    text-align: center;
  }
  header .logo {
    margin: 24px auto;
    position: relative;
    display: inline-block;
  }
  header .navbar-toggle {
    border-color: #fff;
    margin: 33px;
    position: absolute;
    right: 0;
    top: 0;
  }
  header .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  header .navbar-collapse.collapsing,
  header .navbar-collapse.collapse.in {
    background-color: #0d0d0d;
  }
  header .menu li {
    padding: 20px 0;
  }
  .play:hover {
    background-position: 0 100%;
  }

  h5 {
    font-size: 3vw;
  } 
  h4 {
    font-size: 2vw;
  }
  section.red .video_info .btn-white {
    margin-right: 34px;
  }
}

@media screen and (max-width: 700px) {
  section.red .video_info {
    padding: 0 100px 5px 0;
    width: 80%;
  }
  .copy {
    text-align: center;
  }
  .copy span {
    display: block;
    text-align: center;
  }
  .copy .bar_divider {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    width: 10px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 560px) {
  section.red .video_info .btn-white {
    display: block;
    text-align: center;
    margin: 0;
  }
  .play {
    left: 85%;
  }
  section.red .video_info {
    width: 90%;
  }
  section.red .video_info h4 {
    line-height: 1;
    font-size: 3vw;
  }
  h1 {
    font-size: 4vw;
  }

  h4 {
    font-size: 3vw;
  }
  .margin_map {
    width: 100%;
    text-align: center;
  }
  .margin_map h4 {
    font-size: 4vw;
  }
  .margin_map a {
    display: block;
    margin: 5px 0;
  }
  #carousel_banner .item h1 {
    margin: 0;
  }
  #carousel_banner .item h4 {
    overflow: hidden;
    line-clamp: 2;
    -moz-line-clamp: 2;
    -webkit-line-clamp: 2;
    display: box;
    display: -moz-box;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
  }
  .carousel-indicators {
    bottom: -5px;
  }
}

@media screen and (max-width: 370px) {
  #carousel_courses .carousel-indicators li {
    background-color: #ccc;
    border-color: #ccc;
    margin: 1px 5px;
  }
  .play:hover {
    background-position: 0 100%;
  }
  .user-section a {
    line-height: 26px;
    font-size: 18px;
    margin-top: 50px
  }
  h5 {
    font-size: 3vw;
  } 
  .info_method {
    font-size: 12px;
  }
  section.red .video_info a {
    font-size: 10px;
  }
  body#about section.red h1 {
    font-size: 4vw;
  }
  section.red .btn-white{
    padding: 5px 7px;
  }
  #carousel_banner .item .play {
    left: 10%;
    margin-left: 0;
    width: 40px;
    height: 40px;
    text-align: center;
     padding: 0; 
    margin-top: -20px;
    background-size: 100%;
  }
}