.introjs-overlay {
  position: absolute;
  z-index: 999999;
  background-color: #090909;
  opacity: 0.97;
  filter: alpha(opacity=98);
}

.introjs-fixParent {
  z-index: auto !important;
}

.introjs-showElement {
  z-index: 9999999 !important;
}

.introjs-relativePosition {
  position: relative;
}

.introjs-helperLayer {
  position: absolute;
  z-index: 9999999;
  border: 3px solid #fff;
}

.introjs-helperNumberLayer {
  display: none;
  position: absolute;
  top: -14px;
  left: -14px;
  z-index: 9999999999 !important;
  font-family: Arial, verdana, tahoma;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
  background: #333; /* Old browsers */
  width: 24px;
  height:24px;
  line-height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,.4);
}

.introjs-arrow {
  border: 5px solid white;
  content:'';
  position: absolute;
}
.introjs-arrow.bottom {
  bottom: 5px;
  border-top-color:transparent;
  border-right-color:transparent;
  border-bottom-color:white;
  border-left-color:transparent;
}
.introjs-arrow.left {
  left: -23px;
  top: 10px;
  border-top-color:transparent;
  border-right-color:transparent;
  border-bottom-color:transparent;
  border-left-color:white;
}
.introjs-arrow.top {
  top: -7px;
  border-top-color:white;
  border-right-color:transparent;
  border-bottom-color:transparent;
  border-left-color:transparent;
}
.introjs-arrow.right {
  right: -23px;
  top: 10px;
  border-top-color:transparent;
  border-right-color:white;
  border-bottom-color:transparent;
  border-left-color:transparent;
}

.introjs-tooltip {
  color: #fff;
  position: absolute;
  padding: 5px 5px;
  min-width: 280px;
  max-width: 300px;
  -webkit-transition: opacity 0.1s ease-out;
     -moz-transition: opacity 0.1s ease-out;
      -ms-transition: opacity 0.1s ease-out;
       -o-transition: opacity 0.1s ease-out;
          transition: opacity 0.1s ease-out;
}

.introjs-tooltipbuttons {
}

.introjs-button {
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0.2em;
  outline: none !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  color: #ffffff !important;
  background-color: #ff7200;
}

.titulo {
color: #ff9600;
 font-size: 20px;
}

.titulo2 {
color: #8fea00;
 font-size: 20px;
}

.titulo3 {
color: #37d6d0;
 font-size: 20px;
}

.titulo4 {
color: #ff2020;
 font-size: 20px;
}

.titulo6 {
color: #ffde00;
 font-size: 20px;
}

.introjs-button:focus,
.introjs-button:active {
  
}

.introjs-skipbutton {
  margin-right: 5px;
  margin-bottom: 10px;
  background: #01dc72;
   -webkit-border-radius: 0 0.2em 0.2em 0;
  -moz-border-radius: 0 0.2em 0.2em 0;
  border-radius: 0 0.2em 0.2em 0;
}
.introjs-skipbutton:hover {
  background: #00bb60;
  -webkit-border-radius: 0 0.2em 0.2em 0;
  -moz-border-radius: 0 0.2em 0.2em 0;
  border-radius: 0 0.2em 0.2em 0;
}

.introjs-prevbutton {
   margin-bottom: 10px;
  -webkit-border-radius: 0.2em 0 0 0.2em;
  -moz-border-radius: 0.2em 0 0 0.2em;
  border-radius: 0.2em 0 0 0.2em;
  border-right: none;
  background: #b50000;
}

.introjs-prevbutton:hover {
  background: #9b0000;
  -webkit-border-radius: 0 0.2em 0.2em 0;
  -moz-border-radius: 0 0.2em 0.2em 0;
  border-radius: 0 0.2em 0.2em 0;
}

.introjs-nextbutton {
  margin-bottom: 10px;
  margin-left: 2px;
  -webkit-border-radius: 0 0.2em 0.2em 0;
  -moz-border-radius: 0 0.2em 0.2em 0;
  border-radius: 0 0.2em 0.2em 0;
  background: #b50000;
}

.introjs-nextbutton:hover {
   margin-left: 2px;
  background: #9b0000;
  -webkit-border-radius: 0 0.2em 0.2em 0;
  -moz-border-radius: 0 0.2em 0.2em 0;
  border-radius: 0 0.2em 0.2em 0;
}

.introjs-disabled, .introjs-disabled:hover, .introjs-disabled:focus {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
}


.introjs-bullets ul {
  clear: both;
  margin-bottom: 10px;
  padding: 0;
  display: inline-block;
}
.introjs-bullets ul li {
  list-style: none;
  float: left;
  margin: 0 2px;
}
.introjs-bullets ul li a {
  display: block;
  width: 6px;
  height: 6px;
  background: #ccc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-decoration: none;
}
.introjs-bullets ul li a:hover {
  background: #b20000;
}
.introjs-bullets ul li a.active {
  background: #9b0000;
}