.bg-light.lter, .bg-light .lter {
  background-color: #f2f5f5;
}
.bg-light {
  background-color: #e8eff0;
  color: #2a2a2e;
}
.b-r {
  border-right: 1px solid #eaeef1;
}
.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}
.wrapper {
  padding: 15px;
}
.bg-bo {
  background-color: #e7eeee;
  color: #3f4141;
}
.m-b {
  margin-bottom: 15px;
}
.m-t {
  margin-top: 15px;
}
.inline {
  display: inline-block !important;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-t {
  margin-top: 15px;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
}

.block {
  display: block;
}

.m-b {
  margin-bottom: 15px;
}
.text-muted {
  color: #939aa0;
}
.text-xs {
  font-size: 12px;
}
small, .small {
  font-size: 13px;
}
.m-t-sm {
  margin-top: 10px;
}
.progress, .progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress-sm {
  height: 10px;
}
.progress-sm .progress-bar {
  font-size: 10px;
  line-height: 1em;
}
.bg-success {
  background-color: #1ab667;
  color: #a9f3ce;
}
.panel {
  border-radius: 2px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.text-center {
  text-align: center;
}
a {
  color: #545a5f;
  text-decoration: none;
}
.inline {
  display: inline-block !important;
}

.btn-group-justified {
  border-collapse: separate;
}
.easypiechart {
  position: relative;
  text-align: center;
}
.easypiechart > div {
  position: relative;
  z-index: 1;
}
.thumb-lg {
  width: 128px;
  display: inline-block;
}
.btn {
  font-weight: 500;
  border-radius: 2px;
}
.btn-danger {
  color: #fff !important;
  background-color: #d3282a;
  border-color: #d3282a;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
  color: #fff !important;
  background-color: #c52527;
  border-color: #ed2a2a;
}
.btn-success {
  color: #fff !important;
  background-color: #1ab667;
  border-color: #1ab667;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  color: #fff !important;
  background-color: #17a05a;
  border-color: #159253;
}
.line {
  height: 2px;
  margin: 10px 0;
  font-size: 0;
  overflow: hidden;
}
.btn-icon {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 34px;
  text-align: center;
}
a {
  color: #545a5f;
  text-decoration: none;
}
.bg-white {
  background-color: #fff;
  color: #2a2a2e;
}
.bg-light.lt, .bg-light .lt {
  background-color: #edf2f3;
}
.bg-light {
  background-color: #e8eff0;
  color: #2a2a2e;
}
.header, .footer {
  min-height: 50px;
  padding: 0 15px;
}
.header .nav-tabs, .footer .nav-tabs {
  border: none;
  margin-left: -15px;
  margin-right: -15px;
}
.nav-tabs {
  border-color: #eaeef1;
}
.header .nav-tabs.nav-white > li.active a, .header .nav-tabs.nav-white > li.active a:hover, .footer .nav-tabs.nav-white > li.active a, .footer .nav-tabs.nav-white > li.active a:hover {
  background-color: #fff;
}
.header .nav-tabs > li.active a, .header .nav-tabs > li.active a:hover, .footer .nav-tabs > li.active a, .footer .nav-tabs > li.active a:hover {
  background-color: #f2f4f8;
}
.header .nav-tabs > li.active a, .footer .nav-tabs > li.active a {
  color: #2a2a2e;
}
.header .nav-tabs > li a, .footer .nav-tabs > li a {
  border: none !important;
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}
.nav-tabs > li.active > a {
  border-color: #eaeef1 !important;
  border-bottom-color: #fff !important;
}
.header .nav-tabs > li a, .footer .nav-tabs > li a {
  border: none !important;
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}
.m-b-none {
  margin-bottom: 0;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.no-radius {
  border-radius: 0;
}
.no-border, .no-borders {
  border-color: transparent;
  border-width: 0;
}
.list-group {
  border-radius: 2px;
}
.list-group.no-border .list-group-item {
  border-width: 1px 0;
}
.list-group.no-radius .list-group-item {
  border-radius: 0 !important;
}
.list-group-lg .list-group-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.bg-white a {
  color: #545a5f;
}
.thumb-sm {
  width: 40px;
  display: inline-block;
}
.m-r-sm {
  margin-right: 10px;
}
.thumb img, .thumb-xs img, .thumb-sm img, .thumb-irre img, .thumb-md img, .thumb-lg img, .thumb-btn img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.linkear:hover {
  color: #960000;
}
.block {
  display: block;
}
.linkear {
  color: #545a5f;
}
small, .small {
  font-size: 13px;
}
.bg-white a:hover {
  color: #3c4144;
}
.bg-white a {
  color: #545a5f;
}
a {
  color: #545a5f;
  text-decoration: none;
}
a:hover, a:focus {
  color: #303437;
  text-decoration: none;
}
.pos-rlt {
  position: relative;
}
.img-full {
  width: 100%;
}
.r-2x {
  border-radius: 4px;
}
.item-overlay.active, .item:hover .item-overlay {
  display: block;
}
.item .opacity {
  background-color: rgba(0,0,0,0.75);
}
.item-overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.playminin {
  background: url(../images/psmasx.png) no-repeat top;
  height: 30px;
  width: 31px;
}
.playminin:hover {
  background-position: bottom;
  height: 30px;
  width: 31px;
}
.m-t-n {
  margin-top: -15px;
}
.item .center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.m-b-none {
  margin-bottom: 0;
}
.m-t-xs {
  margin-top: 5px;
}
.progress-xs {
  height: 6px;
}
.bg-danger {
  background-color: #d3282a;
  color: #ffffff;
}
.avatar {
  position: relative;
  display: block;
  white-space: nowrap;
}
.chat-item .chat-body {
  position: relative;
  margin-left: 50px;
  min-height: 30px;
}
.chat-item .chat-body .panel {
  margin: 0 -1px;
}
.m-b-none {
  margin-bottom: 0;
}
.b-light {
  border-color: #d9e4e6;
}
.text-sm {
  font-size: 13px;
}
.panel {
  border-radius: 2px;
}
.arrow {
  border-width: 8px;
  z-index: 10;
}
.arrow.left {
  top: 50%;
  left: -8px;
  margin-top: -8px;
  border-left-width: 0;
  border-right-color: #eee;
  border-right-color: rgba(0,0,0,0.1);
}
.arrow, .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.arrow.left {
  top: 50%;
  left: -8px;
  margin-top: -8px;
  border-left-width: 0;
  border-right-color: #eee;
  border-right-color: rgba(0,0,0,0.1);
}
.arrow.left:after {
  content: " ";
  left: 1px;
  border-left-width: 0;
  border-right-color: #fff;
  bottom: -7px;
}
.arrow:after {
  border-width: 7px;
  content: "";
}
.arrow.right {
  top: 50%;
  right: -8px;
  margin-top: -8px;
  border-right-width: 0;
  border-left-color: #eee;
  border-left-color: rgba(0,0,0,0.1);
}
.arrow.right:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #fff;
  bottom: -7px;
}
.chat-item .arrow.right:after {
  border-left-color: #e8eff0;
}
.chat-item .arrow {
  top: 20px;
}
.chat-item+.chat-item {
  margin-top: 15px;
}





@media (min-width: 768px) {
  body.container {
    -webkit-box-shadow: 0 3px 60px rgba(0,0,0,0.3);
    box-shadow: 0 3px 60px rgba(0,0,0,0.3);
    border-left: 1px solid #cbd5dd;
    border-right: 1px solid #cbd5dd;
  }
  .app,
  .app body {
    height: 100%;
    overflow: hidden;
  }
  .app .hbox.stretch {
    height: 100%;
  }
  .app .vbox > section,
  .app .vbox > footer {
    position: absolute;
  }
  .app .vbox.flex > section > section {
    overflow: auto;
  }
  .hbox {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
  }
  .hbox > aside,
  .hbox > section {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    float: none;
  }
  .hbox > aside.show,
  .hbox > aside.hidden-sm,
  .hbox > section.show,
  .hbox > section.hidden-sm {
    display: table-cell !important;
  }
  .vbox {
    display: table;
    border-spacing: 0;
    position: relative;
    height: 100%;
    width: 100%;
  }
  .vbox > section,
  .vbox > footer {
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .vbox > header ~ section {
    top: 50px;
  }
  .vbox > header.header-md ~ section {
    top: 60px;
  }
  .vbox > section.w-f {
    bottom: 50px;
  }
  .vbox > section.w-f-md {
    bottom: 60px;
  }
  .vbox > footer {
    top: auto;
    z-index: 1000;
  }
  .vbox.flex > header,
  .vbox.flex > section,
  .vbox.flex > footer {
    position: inherit;
  }
  .vbox.flex > section {
    display: table-row;
    height: 100%;
  }
  .vbox.flex > section > section {
    position: relative;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }
  .ie .vbox.flex > section > section {
    display: table-cell;
  }
  .vbox.flex > section > section > section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .aside-xs {
    width: 60px;
  }
  .aside-sm {
    width: 150px;
  }
  .aside {
    width: 200px;
  }
  .aside-md {
    width: 240px;
  }
  .aside-lg {
    width: 300px;
  }
  .aside-xl {
    width: 360px;
  }
  .aside-xxl {
    width: 480px;
  }
  .header-md {
    min-height: 60px;
  }
  .header-md .navbar-form {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .footer-md {
    min-height: 60px;
  }
  .scrollable {
    -webkit-overflow-scrolling: touch;
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(50,50,50,0.25);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(50,50,50,0.5);
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(50,50,50,0.05);
  }
}